<%- include('partials/head') %>

<main class="container py-4">
    <% if (notification) { %>
        <div class="alert alert-<%= notification.level %>">
            <%= notification.message %>
        </div>
    <% } %>

    <div class="d-flex justify-content-between align-items-center">
        <a class="p-2 text-white btn btn-secondary" href="/items"><- Retour aux Items</a>
        <h1 class="my-3 mx-auto text-center">Gestion des Types d'Items</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom du Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% types.forEach(type => { %>
                <tr>
                    <td><%= type.id %></td>
                    <td>
                        <form action="/items/types/update/<%= type.id %>" method="POST" class="d-inline">
                            <input type="text" name="name" value="<%= type.name %>" required class="form-control form-control-sm d-inline w-auto">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-warning btn-sm">Modifier</button>
                        </form>

                        <form action="/items/types/delete/<%= type.id %>" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <h2 class="my-4">Créer un Nouveau Type d'Item</h2>

    <form action="/items/types/create" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Nom du Type</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Nom du Type" required>
        </div>
        <button type="submit" class="btn btn-primary">Créer Type</button>
    </form>
</main>

<%- include('partials/foot') %>
