<!--  Include headers here -->
<%- include('partials/head') %>

<main class="container py-4">

  <h1 class="my-3">Toutes les maps</h1>

  <ul>
    <% if (maps?.length) { %>
      <% for (let i = 0; i < maps.length; i++) { %>
        <li>
          <span class="badge bg-info p-3 mx-3 mb-1"><%= maps[i].name %></span>
          <a class="btn btn-outline-info py-0 px-1 ms-3 fs-6 text-decoration-none"
            href="/map/edit/<%= maps[i].id %>">ÉDITER</a>
          <form class="d-inline" action="/map/delete/<%= maps[i].id %>" method="POST">
            <input class="btn btn-outline-danger py-0 px-1 ms-3 fs-6" type="submit" value="SUPPRIMER">
          </form>
  
          <% if (maps[i].rooms?.length) { %>
            <ul>
              <% for (let j = 0; j < maps[i].rooms.length; j++) { %>
                <li>
                  <span class="badge bg-info p-3 mx-3 mb-1"><%= maps[i].rooms[j].name %></span>
                  <a class="btn btn-outline-info py-0 px-1 ms-3 fs-6 text-decoration-none"
                    href="/room/edit/<%= maps[i].rooms[j].id %>">ÉDITER</a>
                  <form class="d-inline" action="/room/delete/<%= maps[i].rooms[j].id %>" method="POST">
                    <input class="btn btn-outline-danger py-0 px-1 ms-3 fs-6" type="submit" value="SUPPRIMER">
                  </form>

                  <% if (maps[i].rooms[j].cells?.length) { %>
                    <ul>
                      <% maps[i].rooms[j].cells.forEach(function(cell) { %>
                        <% if (cell.linkedRoom) { %>
                          <li><em>Linked to:</em> <%= cell.linkedRoom.name %></li>
                        <% } %>
                      <% }) %>
                    </ul>
                  <% } %>
                </li>
              <% } %>
            </ul>
          <% } else { %>
            <li>Aucune pièce disponible</li>
          <% } %>
        </li>
      <% } %>
    <% } else { %>
      <li>Aucune map disponible</li>
    <% } %>
  </ul>

  <h1 class="my-4">Ajouter une Map</h1>

  <form class="mb-5" action="/map/create" method="POST">
    <label class="form-label" for="name">Nom de la map</label>
    <input class="form-control" type="text" name="name" id="name" required>
    <label class="form-label" for="description">Description</label>
    <textarea class="form-control" type="text" name="description" id="description" required></textarea>
    <input class="btn btn-primary mt-3" type="submit" value="Ajouter la map">
  </form>

</main>

<!--  Include footers here -->
<%- include('partials/foot') %>
