<!--  Include headers here -->
<%- include('partials/head') %>

<main class="container-fluid py-4">
  <div class="d-flex align-items-center justify-content-between">
    <!-- Bouton SUPPRIMER aligné à gauche -->
    <form class="d-inline mb-0" action="/rooms/delete/<%= room.id %>" method="POST">
      <input class="btn btn-outline-danger py-0 px-3 fs-6" type="submit" value="SUPPRIMER">
    </form>
    <form class="d-inline mb-0" action="/rooms/duplicate/<%= room.id %>" method="POST">
      <input class="btn btn-outline-info py-0 px-3 fs-6" type="submit" value="DUPLIQUER">
    </form>
    <!-- Titre centré -->
    <h1 class="flex-grow-1 text-center my-3"><%= room.name %></h1>
  
    <!-- Une div vide pour garder l'espace à droite du titre -->
    <div style="width: 100px;"></div> <!-- Ajustez cette largeur si nécessaire -->
  </div>
  <!-- Formulaire pour éditer la Room en ligne -->
  <form action="/rooms/update/<%= room.id %>" method="POST" class="row g-2 mb-4">
    <div class="col-md-1">
      <label for="first_room" class="form-label">1ère pièce?</label>
      <select class="form-select" id="first_room" name="first_room">
        <option value="true" <%= room.first_room ? 'selected' : '' %>>Oui</option>
        <option value="false" <%= !room.first_room ? 'selected' : '' %>>Non</option>
      </select>
    </div>
    
    <div class="col-md-2">
      <label for="name" class="form-label">Nom</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= room.name %>" required>
    </div>

    <div class="col-md-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description" value="<%= room.description %>" required>
    </div>

    <div class="half-col">
      <label for="cell_size" class="form-label">Cellules</label>
      <input type="number" class="form-control" id="cell_size" name="cell_size" value="<%= room.cell_size || '30' %>" required>
    </div>

    <div class="half-col">
      <label for="nb_rows" class="form-label">Lignes</label>
      <input type="number" class="form-control" id="nb_rows" name="nb_rows" value="<%= room.nb_rows || '20' %>" required>
    </div>

    <div class="half-col">
      <label for="nb_cols" class="form-label">Colonnes</label>
      <input type="number" class="form-control" id="nb_cols" name="nb_cols" value="<%= room.nb_cols || '20'%>" required>
    </div>

    <div class="half-col">
      <label for="start_x" class="form-label">Départ X</label>
      <input type="number" class="form-control" id="start_x" name="start_x" value="<%= room.start_x || '0'%>" required>
    </div>

    <div class="half-col">
      <label for="start_y" class="form-label">Départ Y</label>
      <input type="number" class="form-control" id="start_y" name="start_y" value="<%= room.start_y || '0'%>" required>
    </div>

    <div class="col-md-2">
      <label for="img_bg" class="form-label">Image de Fond</label>
      <input type="text" class="form-control" id="img_bg" name="img_bg" value="<%= room.img_bg %>">
    </div>

    <div class="half-col" >
      <label for="color_bg" class="form-label">Couleur</label>
      <input style="height: 36px" type="color" class="form-control" id="color_bg" name="color_bg" value="<%= room.color_bg || '#ffffff' %>">

    </div>


    <div class="col-md-1 align-self-end" >
      <button type="submit" class="btn btn-primary w-100">Mettre à Jour</button>
    </div>
    
  </form>

  <main class="container-fluid py-4">
    <div class="row">
      <!-- Colonne gauche : Liste des items -->
      <div class="col-md-2 bg-light p-3" id="item-list">
        <h5>Liste des Items</h5>
      </div>
  
      <!-- Colonne centrale : Grille de la room -->
      <div class="col-md-8 d-flex justify-content-center">
        <div id="map-container" class="border" style="position: relative; width: fit-content;">
          <!-- La map sera générée ici via du JavaScript -->
        </div>
      </div>
  
      <!-- Colonne droite : Détails de la cellule sélectionnée -->
      <div class="col-md-2 bg-light p-3" id="cell-details">
        <h5>Détails de la Cellule</h5>
      </div>
    </div>
  
    <!-- Bouton pour activer/désactiver le mode suppression -->
    <div class="text-center mt-3">
      <button id="delete-mode-button" class="btn btn-danger">Activer le Mode Suppression</button>
    </div>
  </main>
  
  <script type="module">
    
    const room = <%- JSON.stringify(room) %>;
    const cells = <%- JSON.stringify(cells) %>;
    const itemsData = <%- JSON.stringify(itemsData) %>;
    console.log("room, cells, itemsData", room, cells, itemsData);
    
    const gameConfig = {
      initialRoomData: room,
      itemsData: itemsData,
    };
    import { GameEngine } from '/js/GameEngine.js';
  
    const gameEngine = new GameEngine(gameConfig);
    gameEngine.initializeGame();
  </script>
  



<!--  Include footers here -->
<%- include('partials/foot') %>
